<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam labore quis deleniti esse obcaecati quas
        asperiores atque, nemo corporis voluptatibus repudiandae mollitia in dicta, nostrum est adipisci cum laudantium
        sunt?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa non ducimus sit quo animi recusandae
        aliquid, debitis nam laborum, similique tempora minus vel eveniet nulla voluptatum ipsam delectus voluptate sed?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat laboriosam voluptatem, aliquid adipisci
        consequatur exercitationem harum? Doloribus perspiciatis veniam voluptates, est suscipit sunt enim fuga fugit
        blanditiis ad, ex obcaecati!
        <br />
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci commodi modi consectetur nulla quasi atque,
        qui vel iusto ullam distinctio amet accusamus, consequatur dolorem, necessitatibus aspernatur repellat nobis
        assumenda ipsum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex itaque minus recusandae quis unde temporibus soluta
        quos tempora rem, corporis, nemo facilis ipsa quisquam illum. Quisquam aliquam eligendi delectus officia?
    </p>

</div>